<h1>Alter Tag name</h1>

<div>
  <form action="/tags/<%= @tags.id %>" method="POST">

    <label for="t_name">Tag name:</label>
    <input type="text" name="t_name" id="tName" value="<%= @tags.t_name %>"/ >

    <input type="submit" value="Edit Student Details" id="btn-new-student">

  </form>
</div>
