<h1 id="headline">Add a new Tag</h1>

<div id="new-transaction">
  <form action="/tags/create" method="POST" id="new-edit-form">

    <label for="t_name">New tag name:</label>
    <input type="text" name="t_name" id="tagName" />

    <input type="submit" value="Add new Tag" id="btn-new-stud">

  </form>
</div>
