<h1 id="headline">Add a new Tag</h1>

<div id="new-transaction">
  <form action="/tags/create" method="POST" id="new-edit-form">

    <label for="t_name">New tag name:</label>
    <input type="text" name="t_name" id="tagName" />
    <label for="t_type"></label>
    <select name="t_type" id="tag-dropdown">
      <option disabled selected value> -- select type -- </option>
      <% for type in @tag_types %>
      <option value="<%= type %>">
        <%= type %>
      </option>
      <% end %>
    </select>

    <input type="submit" value="Add new Tag" id="btn-new-transaction">

  </form>
</div>
