<div id="main-container">

  <div id="summary">
    This month you have spent: £1000
  </div>

  <div id="menu-options">

      <a href="/transactions/new" class="menu-item">+ Add a spend</a>
      <a href="#" class="menu-item">+ Add a new merchant</a>
      <a href="#" class="menu-item">Transaction History</a>

  </div>


</div>
