<!DOCTYPE html>
<html>
<head>
  <title>Budget</title>
  <link rel="stylesheet" href="/css/main/styles.css">
  <link rel="stylesheet" href="/css/navigation/nav.css">
  <link rel="stylesheet" href="/css/forms/forms.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="icon" href="/logo.png">
</head>
<body>

    <nav>
        <ul>
          <img src="/logo.png" alt="Logo" id="menu-image">
          <li><a href="/account" class="nav-items">ACCOUNT</a></li>
          <li><a href="/tags" class="nav-items">MY TAGS</a></li>
          <li><a href="/vendors" class="nav-items">MY VENDORS</a></li>
          <li><a href="/transactions" class="nav-items">MY SPENDING</a></li>
          <li><a href="/" class="nav-items">SUMMARY</a></li>
    </ul>
  </nav>
  <div id="wrapper">
<%= yield %>
</div>
  <!-- <footer class="footer">FOOTER CONTENT</footer> -->
</body>
</html>
