<h1>Alter Vendor name</h1>

<div>
  <form action="/vendors/<%= @vendor.id %>" method="POST" id="new-edit-form">

    <label for="name">Tag name:</label>
    <input type="text" name="name" id="name" value="<%= @vendor.name %>"/ >

    <input type="submit" value="Edit Vendor Details" id="btn-new-student">

  </form>
</div>
