<h1>Add a new Vendor</h1>

<div id="new-transaction">
  <form action="/vendors/create" method="POST">

    <label for="name">New vendor name:</label>
    <input type="text" name="name" id="vendorName" />

    <input type="submit" value="Add new vendor" id="btn-new-student">

  </form>
</div>
