/*form {
  display: flex;
  flex-direction: column;
}*/

select {
  height: 50px;
  font-size: 24px;
}

option {
  font-size: 20px;
}

#new-transaction {
  display: flex;
  justify-content: center;
}

form#new-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  width: 50%
}

input {
  height: 50px;
  font-size: 24px;
  margin-top: 10px;
}

input#btn-delete {

}

label {
  margin-top: 18px;
}
