  <h1>Add a new transaction</h1>

  <div id="new-transaction">
    <form action="/transactions/create" method="POST">


      <label for="name"></label>
      <select name="name" id="vendor-dropdown">
        <option disabled selected value> -- select shop -- </option>
        <% for vendor in @vendors %>
        <option value="<%= vendor.id %>">
          <%= vendor.name %>
        </option>
        <% end %>
      </select>



      <!-- <label for="amount">Amount:</label> -->
      <input type="number" min=0 max=100000 name="amount" id="amount"/ placeholder="Transaction amount eg 5.25" >

      <label for="transaction_date">Date of transaction:</label>
      <input type="date" name="transaction_date">

      <input type="submit" value="Add new transaction" id="btn-new-student">

    </form>
  </div>
