
<h1 id="headline">Add a new transaction</h1>
  <div id="new-transaction">
    <form action="/transactions/create" method="POST" id="new-edit-form">


      <label for="vendor_id"></label>
      <select name="vendor_id" id="vendor-dropdown">
        <option disabled selected value> -- select vendor -- </option>
        <% for vendor in @vendors %>
        <option value="<%= vendor.id %>">
          <%= vendor.name %>
        </option>
        <% end %>
      </select>

      <label for="tag_id"></label>
      <select name="tag_id" id="tag-dropdown">
        <option disabled selected value> -- select tag -- </option>
        <% for tag in @tags %>
        <option value="<%= tag.id %>">
          <%= tag.t_name() %>
        </option>
        <% end %>
      </select>

      <input type="number" min=0 max=100000 name="amount" id="amount"/ placeholder="Transaction amount eg 5.25" >

      <label for="transaction_date">Date of transaction:</label>
      <input type="date" name="transaction_date">

      <input type="submit" value="Add new transaction" id="btn-new-transaction">

    </form>
  </div>
