body {
  margin: 0 auto;
  font-family: raleway;
}

img {
  height: 55px;
  width: 55px;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#main-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 743px;
}

#summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #AFE3C0;
  flex-grow: 0;
  flex-basis: 55%;
}

#monthly-income {
  font-size: 20px;
}

#menu-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
  flex-basis: 50%;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:75px;
  background: black;
  color: white;
}

a.menu-item {
  background-color: #F17845;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 18px;
  font-family: ralewaysemibold, Helvetica, Arial, sans-serif;
  font-size: 30px;
}

a.menu-item:hover {
  background-color: white;
  color: black;
}

#transaction-page {
  display: flex;
  flex-wrap: wrap;
}

article {
  border: solid 1px #7B8E8D;
  border-radius: 30px;
  margin: 10px;
  padding: 15px;
  font-family: raleway;
  font-size: 18px;
  background-color: #ECF3EC;
  width: 15%;
}

article:hover {
  background-color: #FFFFFF;
  border: solid 4px #7B8E8D;
  margin: 7px;
  padding: 15px;

}

#edit-delete {
  display: flex;
  justify-content: center;
}

button#btn-delete {
  background: none;
  border: 0;
  height: 40%;
  width: 40%;
  cursor: pointer;
}

#transactions-top {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

#btn-add-new {
  background-color: #AFE3C0;
  color: #688B58;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 18px;
  font-family: ralewaysemibold, Helvetica, Arial, sans-serif;
  font-size: 30px;
}

#most-spent-on {
  text-align:center;
}

/*utilities tag CSS*/
p[class="Electricity\ Bill"], [class="Council\ Tax"], [class="Gas\ Bill"], [class="Mortgage"], [class="Internet"] {
  color: black;
  background-color: #C0C0C0;
  border: solid 1px;
  border-radius: 5px;
  text-align: center;
  padding: 4px 0px 4px 0px;
}

p[class="Electricity\ Bill"]:hover, [class="Council\ Tax"]:hover, [class="Gas\ Bill"]:hover, [class="Mortgage"]:hover, [class="Internet"]:hover {
right: -15px;
transition: 0.5s;
padding-right: 20px;
}

p[class="Electricity\ Bill"]:hover:after, [class="Council\ Tax"]:hover:after, [class="Gas\ Bill"]:hover:after, [class="Mortgage"]:hover:after, [class="Internet"]:hover:after {
content: '\00bb';
opacity: 1;
transition: 0.5s;
}

article[id="Electricity\ Bill"]:hover, [id="Council\ Tax"]:hover, [id="Gas\ Bill"]:hover, [id="Mortgage"]:hover, [id="Internet"]:hover {
  border: solid 4px #C0C0C0;
  background-color: #f2f2f2;
}

/*essentials*/
p[class='Mobile\ Phone'], [class='Groceries']{
color: black;
background-color: #66cc91;
border: solid 1px;
border-radius: 5px;
text-align: center;
padding: 4px 0px 4px 0px;
}

p[class='Mobile\ Phone']:hover, [class='Groceries']:hover{
  right: -15px;
  transition: 0.5s;
  padding-right: 20px;
}

p[class='Mobile\ Phone']:hover:after, [class='Groceries']:hover:after{
  content: '\00bb';
  opacity: 1;
  transition: 0.5s;
}

article[id='Mobile\ Phone']:hover, [id='Groceries']:hover {
  border: solid 4px #66cc91;
  background-color: #ecf9f1;
}

/*bonus*/
p[class='Subscription\ Services'], [class='Gym'], [class='Dinner\ Out'], [class='Drinks'], [class='Video\ Games'], [class='Days\ out']{
  color: black;
  background-color: #FA8072;
  border: solid 1px;
  border-radius: 5px;
  text-align: center;
  padding: 4px 0px 4px 0px;
}

p[class='Subscription\ Services']:hover, [class='Gym']:hover, [class='Dinner\ Out']:hover, [class='Drinks']:hover, [class='Video\ Games']:hover, [class='Days\ out']:hover {
  right: -15px;
  transition: 0.5s;
  padding-right: 20px;
}

p[class='Subscription\ Services']:hover:after, [class='Gym']:hover:after, [class='Dinner\ Out']:hover:after, [class='Drinks']:hover:after, [class='Video\ Games']:hover:after, [class='Days\ out']:hover:after{
  content: '\00bb';
  opacity: 1;
  transition: 0.5s;
}

article[id='Subscription\ Services']:hover, [id='Gym']:hover, [id='Dinner\ Out']:hover, [id='Drinks']:hover, [id='Video\ Games']:hover, [id='Days\ out']:hover {
  border: solid 4px #FA8072;
  background-color: #fee9e6;
}

.btn-tag {
  text-decoration: none;
  color: inherit;
}

#monthy {
  color: grey;
  text-decoration: none;
}

p#vendor-name {
  font-size: 18px;
}
